.cllg_logo {
  float:left;
  padding-left: 100px;
  padding-top: 30px;
}

.cllg_name {
  float:left;
  font-size: 20px;
  padding-top: 70px;
  padding-left:25px;

  color:white;
}

.nav_menu{
  float: right;
  font-size: 15px;
  padding-right: 100px;
  padding-top: 70px;
}
.nav_menu {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.nav_menu * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.nav_menu li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  overflow: hidden;
}
.nav_menu a {
  padding: 0.3em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}
.nav_menu a:before,
.nav_menu a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.nav_menu a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #e67e22;
}
.nav_menu a:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
}
.nav_menu li:hover a,
.nav_menu .current a {
  transform: translateY(100%);
}

.div_2{
  text-align: center;
  padding-top: 250px;
  font-size: 35px;
  color: red;
}
a:hover{
  text-decoration: none;
  border-color: red;
}
.nav_menu_2{
  font-size: 24px;
  word-spacing: 35px;
  text-align: center;
  background-color: inherit;
}
.menu_2{
  text-decoration: none;
  color:white;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  background-color: grey ;
  border: 2px solid ;
  border-radius: 5px;
}
.contant{
  float: left;
  border: 5px solid;
  border-color: white;
  padding: 20px;
  margin-left: 180px;
  margin-right: 180px;
  margin-top: 120px;
  background-color: lightblue;
}
.tf{
  float: right;
  padding-right: 220px;
  padding-left: 100px;
}

body {
  background-color: #212121;
}
